# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.*.local

# Node modules
node_modules/

# Build outputs
dist/
dist-ssr/
out/
build/

# Local config
*.local
*.tgz

# Editor/IDE config
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
__tests__
.nyc_output/

# Misc
*.orig
*.patch

# OS-specific
Thumbs.db
ehthumbs.db
